<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-3" href="/">
      <i class="bi bi-substack text-warning"></i>
      Blogify
    </a>

    <!-- Mobile Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Navigation -->
      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link active" href="/">
            <i class="bi bi-house-door me-1"></i>
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blogs">
            <i class="bi bi-journal-text me-1"></i>
            Articles
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">
            <i class="bi bi-info-circle me-1"></i>
            About
          </a>
        </li>

      </ul>

      <!-- Right Side -->
      <div class="d-flex align-items-center gap-2">

        <% if(user){ %>

          <a href="/blog/add" class="btn btn-warning rounded-pill px-4">
            <i class="bi bi-plus-circle me-1"></i>
            Write Article
          </a>

          <div class="dropdown">

            <button
              class="btn btn-outline-light rounded-pill dropdown-toggle"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-person-circle me-1"></i>
              <%= user.name %>
            </button>

            <ul class="dropdown-menu dropdown-menu-end shadow">

              <li>
                <a class="dropdown-item" href="/profile">
                  <i class="bi bi-person me-2"></i>
                  My Profile
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="/blog/add">
                  <i class="bi bi-pencil-square me-2"></i>
                  Write Article
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="/blogs">
                  <i class="bi bi-journal-text me-2"></i>
                  All Articles
                </a>
              </li>

              <li><hr class="dropdown-divider"></li>

              <li>
                <a class="dropdown-item text-danger" href="/logout">
                  <i class="bi bi-box-arrow-right me-2"></i>
                  Logout
                </a>
              </li>

            </ul>

          </div>

        <% } else { %>

          <a href="/signin" class="btn btn-outline-light rounded-pill px-4">
            Sign In
          </a>

          <a href="/signup" class="btn btn-warning rounded-pill px-4">
            Get Started
          </a>

        <% } %>

      </div>

    </div>

  </div>
</nav>